.nav_links {
  @apply absolute w-full h-full top-0 bg-white z-10 transition-all md:z-0 md:w-[20%] md:bg-none md:static;
}

.searchbar {
  @apply w-[100%] border-2 border-white-accent-lavender border-r-0 rounded-l-lg p-2 text-xs focus:border-tertiary outline-none font-base;
}

.searchbar:focus-visible + button {
  @apply border-tertiary;
}

.search_icon > path {
  @apply stroke-secondary;
}

.nav_link {
  @apply text-base relative lg:right-0 md:right-4 right-0 text-primary hover:text-secondary;
}

.nav_link::after {
  content: "";
  display: block;
  background-color: theme(colors.secondary);
  height: 3px;
  opacity: 0;
  width: 0%;
  transition: ease all 0.3s;
}

.nav_link:hover::after {
  width: 100%;
  opacity: 1;
  left: 0;
}

.nav_active {
  @apply text-secondary;
}

.nav_active::after {
  content: "";
  display: block;
  background-color: theme(colors.secondary);
  height: 3px;
  width: 100%;
  transition: ease all 0.5s;
}
